<div class="timetable-container">
  <div>
    <span>Product Group </span>
    <span class="input">{{ data.productGroup }}</span>
  </div>
  <div>
    <span>DoW </span>
    <span *ngIf="data.DoW.length > 3; else elseBlock">
      <span class="input">{{ data.DoW[0] }}, </span>
      <span class="input">{{ data.DoW[1] }}, </span>
      <span class="input">{{ data.DoW[2] }}... </span>
      <span
        class="remaining"
        *ngIf="data.DoW.length > 3"
        (mouseover)="showTooltip()"
        (mouseout)="hideTooltip()"
        >{{ data.DoW.length - 3 }}
        <div
          class="tooltip"
          [ngClass]="isTooltipVisible ? 'visible' : 'hidden'"
        >
          <span *ngFor="let item of data.DoW; index as i">
            <span *ngIf="i < data.DoW.length - 1; else elseBlock"
              >{{ item }},
            </span>
            <ng-template #elseBlock>{{ item }}</ng-template>
          </span>
        </div>
      </span>
    </span>
    <ng-template #elseBlock>
      <span class="input" *ngFor="let item of data.DoW; index as i">
        <span *ngIf="i < data.DoW.length - 1; else elseBlock"
          >{{ item }},
        </span>
        <ng-template #elseBlock>{{ item }}</ng-template>
      </span>
    </ng-template>
  </div>
  <div>
    <span>Open Time l </span>
    <span class="input">{{ data.openTime1 }}</span>
  </div>
  <div>
    <span>Close Time l </span>
    <span class="input">{{ data.closeTime1 }}</span>
  </div>
  <div>
    <span>Open Time ll </span>
    <span class="input">{{ data.openTime2 }}</span>
  </div>
  <div>
    <span>Close Time ll </span>
    <span class="input"> {{ data.closeTime2 }}</span>
  </div>
</div>
