<div class="timetable-container">
  <div>
    <span>Product Group </span>
    <span class="input">{{ data.productGroup }}</span>
  </div>
  <div>
    <span>DoW </span>
    <span *ngIf="data.dayOfWeek.length > 3; else elseBlock">
      <span class="input">{{ data.dayOfWeek[0] }}, </span>
      <span class="input">{{ data.dayOfWeek[1] }}, </span>
      <span class="input">{{ data.dayOfWeek[2] }}... </span>
      <span
        class="remaining"
        *ngIf="data.dayOfWeek.length > 3"
        (mouseover)="toggleTooltip()"
        (mouseout)="toggleTooltip()"
        >{{ data.dayOfWeek.length - 3 }}
        <div
          class="tooltip"
          [ngClass]="isTooltipVisible ? 'visible' : 'hidden'"
        >
          <span *ngFor="let item of data.dayOfWeek; index as i">
            <span *ngIf="i >= 3">
              <span *ngIf="i < data.dayOfWeek.length - 1; else elseBlock"
                >{{ item }},
              </span>
              <ng-template #elseBlock>{{ item }}</ng-template>
            </span>
          </span>
        </div>
      </span>
    </span>
    <ng-template #elseBlock>
      <span class="input" *ngFor="let item of data.dayOfWeek; index as i">
        <span *ngIf="i < data.dayOfWeek.length - 1; else elseBlock"
          >{{ item }},
        </span>
        <ng-template #elseBlock>{{ item }}</ng-template>
      </span>
    </ng-template>
  </div>
  <div>
    <span>Open Time l </span>
    <span class="input">{{ data.openTime1 }}</span>
  </div>
  <div>
    <span>Close Time l </span>
    <span class="input">{{ data.closeTime1 }}</span>
  </div>
  <div>
    <span>Open Time ll </span>
    <span class="input">{{ data.openTime2 }}</span>
  </div>
  <div>
    <span>Close Time ll </span>
    <span class="input"> {{ data.closeTime2 }}</span>
  </div>
</div>
