.timetable-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .remaining{
        background-color: lightblue;
        color: white;
        padding: 2px;
        border-radius: 3px;
    }

    .input{
        font-weight: 600;
    }

    .relative{
        position: relative;

        .tooltip{
            
            background-color: lightblue;
            padding: 5px;
            border-radius: 8px;
            position: absolute;
            bottom: 1vw;
            right: -8vw;
        }

        .hidden{
            display: none;
        }
    }

   
}